<div class="container">
  <div>
    正しいボタンを選べ！
  </div>
  <div class="text-center">
    <%= link_to choice_path, class: "btn btn-primary btn-lg", method: :post do %>
      選ぶ
    <% end %>
    <%= link_to choice_path, class: "btn btn-success btn-lg", method: :post do %>
      選ぶ
    <% end %>
  </div>
  <div>
    <%= link_to new_choice_path, class: "btn btn-secondary" do %>
      <難易度を変更
    <% end %>
  </div>
</div>