<div class="container">
  <div class="text-center">
    <%= link_to choice_path, class: "btn btn-primary", method: :post do %>
      選ぶ
    <% end %>
    <%= link_to choice_path, class: "btn btn-success", method: :post do %>
      選ぶ
    <% end %>
  </div>
</div>