<div class="container">
  <div class="text-center">
    難易度を選択してください
  </div>
  <div class="row text-center">
    <div class="col-4">
      <%= link_to easy_path, class: "btn btn-success" do %>
        Easy
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to nomal_path, class: "btn btn-warning" do %>
        Nomal
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to hard_path, class: "btn btn-danger" do %>
        Hard
      <% end %>
    </div>
  </div>
</div>