<div class="container">
  <div class="m-5 text-center">
    <% if @ans == 1 %>
      <span class="display-2 font-weight-bold text-danger">正解！</span>
    <% else %>
      <span class="display-2 font-weight-bold">残念！</span>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to 'もう一回！', new_choice_path, class: "btn btn-secondary" %>
  </div>
</div>