<div class="container">
  <div class="text-center">
    <%= image_tag 'おみくじ.png', style: "width: 300px" %>
  </div>
  <div class="mt-5 text-center">
    <%= link_to user_omikujis_path, class: "btn btn-lg btn-outline-secondary", method: :post do %>
      おみくじを引く
    <% end %>
  </div>
</div>