<div class="container">
  <div class="text-center">
    おみくじを引く<br>
    ↓
  </div>
  <div class="text-center">
    <%= link_to user_omikujis_path, method: :post, class: "btn btn-outline-warning" do %>
      おみくじ
    <% end %>
  </div>
</div>