<div class="p-5" style="background-color: orange;">
  <div id="top-image" class="text-center">
    <%= image_tag '運ノ宮.png', style: "width: 45%;" %>
  </div>
</div>

<script>
  $(function(){
    $('#top-image').hide().fadeIn(3000);
  })
</script>