<div class="container">
  <div>
    <div class="row d-flex">
      <div class="col-3">
        <%= @user.name %>さん
      </div>
      <div class="col-9">
        今日の運勢:
        <% if @today_omikuji.nil? %>
          占ってみましょう！
        <% else %>
          <span class="h3">
            <%= @today_omikuji.name %>
          </span>
        <% end %>
      </div>
    </div>
    <table class="table">
      <% @user.omikujis.each do |omikuji| %>
        <tr>
          <th>
            <%= omikuji.created_at %>
          </th>
          <td>
            <%= omikuji.name %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>