<div class="container">
  <div>
    <div class="row d-flex">
      <div class="col-3">
        <%= @user.name %>さん
      </div>
      <div class="col-9">
        今日の運勢:
        <% if @today_omikuji.nil? %>
          占ってみましょう！
        <% else %>
          <%= @today_omikuji.name %>
        <% end %>
      </div>
    </div>
    <div>
      <% @user.omikujis.each do |omikuji| %>
        <div>
          <%= omikuji.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>